# =========================
# MkDocs et déploiement
# =========================

# Dossier généré automatiquement par MkDocs (site statique)
site/

# Cache généré par des plugins comme `privacy`
.cache/

# =========================
# Environnement Python
# =========================

# Environnements virtuels
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cache Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Fichiers de log ou d’erreur pip
pip-log.txt
pip-delete-this-directory.txt

# =========================
# Packaging & distribution
# =========================

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# =========================
# IDEs / Éditeurs
# =========================

# Visual Studio Code / VSCodium
.vscode/
.history/

# Fichiers de sauvegarde ou temporaires d’éditeurs
*~
*.swp
*.bak
*.tmp

# =========================
# Système / fichiers inutiles
# =========================

# macOS
.DS_Store

# Fichiers log génériques
*.log
